* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.logo {
    height: 92px;
    width: 78px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
}

img.logoImg {
    height: 92px;
    width: 78px;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #101923;
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.body {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 100px;
    background-color: #182235;

}


.bodyTextR {
    color: #eeeeee;
    font-family: Roboto, Helvetica, Sans-serif;
    font-size: 24px;
    width: 400px;
    margin-left: auto;
}

.bodyTextL {
    color: #eeeeee;
    font-family: Roboto, Helvetica, Sans-serif;
    font-size: 24px;
    width: 400px;
    margin-right: auto;
}

.menuBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto ;
}



a {
    color: #cccccc;
    font-family: Roboto, Helvetica, Sans-serif;
    font-size: 26px;
    text-decoration: none;
    
    
}
a:hover {
    color: #eeeeee;
    transition: 0.1s;
}

a:active {
    color: #999999;
}

.footer {
    height: 50px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footertext {
    font-size: 18px;
    color:#e5e7eB;
    font-family: Roboto, Helvetica, Sans-serif;
}


.button1{
    background-color: #643c8c;
    height: 80px;
    width: 200px;
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.button1:hover {
    background-color: #7848a8;
    transition: 0.1s;
}
.button1:active {
    background-color: #3c2454;
}

.button2{
    background-color: rgb(0, 143, 98);
    height: 80px;
    width: 200px;
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.button2:hover {
    background-color: rgb(0, 172, 118);
    transition: 0.1s;
}
.button2:active {
    background-color: rgb(0, 86, 59);
}

.backToTop {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #182235;

}


.oculusProjectImg{
    height: 200px;
    width: auto;
    border-radius: 10px;
}
.oculusProjectImg2{
    height: 150px;
    width: auto;
    border-radius: 10px;
}

.cardCaseImg{
    height: 200px;
    
    border-radius: 10px;
}

.cardCaseImg2{
    height: 150px;
    width: auto;
    border-radius: 10px;
}

.cardCaseImg3{
    height: 180px;
    width: auto;
    border-radius: 10px;
}

.rightImg {
    margin-left: auto;
}

.pageTitle {
    color: #cccccc;
    font-family: Roboto, Helvetica, Sans-serif;
    font-size: 42px;
}

.hyperlink  {
    text-decoration: underline;
}

.oculusGripText2 {
    width: 550px;
}

.verticalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    flex: 0, 0 auto;
    gap: 5px;
    margin-left: 50px;
    margin-right: 50px;

}

.horizontalContent {
    display: flex;
    align-self: stretch;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
    
}

.horizontalContent2 {
    display: flex;
    align-self: stretch;
    justify-content: space-around;
}

.panelTitle {
    color: #eeeeee;
    font-family: Roboto, Helvetica, Sans-serif;
    font-size: 32px;
    text-align: left;
    width: auto;
    align-self: flex-start;
}

